
  {% include 'main/header.html.twig' %}
  <body>


  <div class="col-md-5 p-lg-5 mx-auto my-5" >

      {% if (tw_Products is not null) and (tw_Products is not empty)  %}
      <p> Produits : <br>
        {% for i in range(0, tw_nbDiffProducts) %}
          {{ tw_Products[i][0].nom }}, quantite: {{tw_Products[i][1]}}, prix total: {{tw_Products[i][0].prix*tw_Products[i][1]//100}} € {{ "%02d"|format(tw_Products[i][0].prix*tw_Products[i][1]%100) }}<br>
        {% endfor %}
        </p>
        <p> Prix Total : {{tw_totalPrice//100}} € {{ "%02d"|format(tw_totalPrice%100) }} TTC  </p>
        <form action="panier/reset">
        <button class="btn btn-outline-secondary" type="submit"  id="addButton">Vider le panier </button>
        </form>
      {% endif %}

      {%if tw_Products is empty %}
        Le panier est vide
        </p>
      {% endif %}



  </div>

    {% include 'main/footer.html.twig' %}


    </script>
  </body>
</html>
